<section class="app-form" *ngIf="show">
  <h2>Your Game Code:</h2>
  <div class="code">
    <h1>{{ session.code }}</h1>
  </div>
  <div style="margin-top: 40px">
    <table>
      <thead>
        <tr>
          <th>Players</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of session.players">
          <td>{{ player.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 40px">
  <button type="button" class="btn btn-primary">Start</button>
  </div>
</section>
