<section class="app-form">
  <h3 style="text-align: center">Your Game Code:</h3>
  <div class="code">
    <h1>{{ code }}</h1>
  </div>
  <div style="margin-top: 20px;" *ngIf="playlist">
    <img style="width: 128px; height: 128px; border-radius: 20px" [src]="playlist.images[0].url">
  </div>
  <div *ngIf="playlist">
    <div style="margin-top: 10px; display: flex; flex-direction: column; align-items: center;">
      <span style="font-weight: bold">{{ playlist.name }}</span>
      <div style="margin-top: 20px">
        <label>Number of tracks:</label>
      </div>
      <div style="margin-top: 10px">
        <button type="button" class="btn val-btn" (click)="decreaseValue()">-</button>
        <label style="margin-right: 10px; margin-left: 10px;">{{ selectedValue }}</label>
        <button type="button" class="btn val-btn" (click)="increaseValue()">+</button>
      </div>
      <div style="margin-top: 17px">
        <button type="button" class="btn btn-primary" (click)="start()">Start</button>
      </div>
    </div>
  </div>
</section>
